@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --background: #1A1A1A;
    --foreground: #262626;
    --foreground-border: #2E2E2E;
    --light: #fff;
    --muted: #98989A;
    --muted-foreground: #E6E6E6;
    --primary: #42159D;

    box-sizing: border-box;
    font-size: 14px;
}

body {
    background-color: var(--background);
    color: var(--light);
}

.padding-container {
    @apply 2xl:px-40 lg:px-32 px-8
}

.icon-gradient {
    background: linear-gradient(229.29deg, rgba(66, 21, 157, 0.2) -68.25%, rgba(66, 21, 157, 0) 32.16%), linear-gradient(180deg, #242424 0%, rgba(36, 36, 36, 0) 100%);
    border-radius: 8px;
    z-index: 10;
}

.gradient-box {
    position: relative;
    border-radius: 6px;
    overflow: hidden;
    background: linear-gradient(229.29deg, rgba(66, 21, 157, 0.2) -68.25%, rgba(66, 21, 157, 0) 32.16%), linear-gradient(180deg, #242424 0%, rgba(36, 36, 36, 0) 100%);
}

.gradient-box::before {
    content: "";
    position: absolute;
    inset: 0;
    padding: 0.5px;
    padding-bottom: 0px;
    padding-right: 0.3px;
    background: linear-gradient(229deg, var(--foreground-border), transparent 100%);
    border-radius: 6px;
    -webkit-mask: linear-gradient(#fff 0 0) content-box,
    linear-gradient(#fff 0 0) border-box;
    -webkit-mask-composite: destination-out;
    mask-composite: exclude;
    pointer-events: none;
}